<a href="https://colab.research.google.com/github/nienlinh/test/blob/master/ch4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ch4

## 4.1 OJ 重新排序的身高
現在有一個 data list，裡面的小到大排序的身高資料，現在轉入一位新同學，因此需要重新排序。

```
輸入範例
161,165,166,171,180,191
172
輸出範例 
161 165 166 171 172 180 191
--
輸入測資 
148,158,162,163,165,173,176,179,183,188
171
輸出測資 
148 158 162 163 165 171 173 176 179 183 188
```

In [ ]:
# tall_list = input().split(',')  
# new_tall = eval(input()) 
# new_list = []
# 以上勿改

# testing data
tall_list = '161,165,166,171,180,191'.split(',')  
new_tall = 172 
#　new_list = []

new_list = tall_list[:]

new_list.append(new_tall)

# 逐一的變更型態
# for index in range(len(new_list)):
#   new_list[index] = int(new_list[index])

# 等同於上面寫法
# map 會將 new_list 中的元素轉換為 int
# map(function, iterable)
# 定義一個 function，接著用這個 function 來對後面的 iterable 內每一個元素做處理。
new_list = list(map(int, new_list))

new_list.sort()

# 以下勿改
for h in new_list:
  print(h, end=' ')

161 165 166 171 172 180 191

## 4.2 OJ  哪裡溫度高
c 為一群攝氏溫度的 list, city 為相對的都市。

請輸出華氏大於（含）100 的都市。


```
輸入範例 
24 44 32 33 41
taipei taichung pingdong tainan hsinchu

輸出範例 
taichung
hsinchu
--
輸入測資
55 26 32 18 22
taipei taichung pingdong tainan hsinchu

輸出測資
taipei
```

In [ ]:
c = input().split()
city = input().split()
# 以上勿改

# Write your code
c2 = [int(i)*9/5 + 32 for i in c]

# 等同於上面寫法
c2 = []
for i in c:
  c2.append(int(i)*9/5 + 32)

hot_city = []

# enumerate(sequence, start=0)
# 可以將 sequence 的內容，按照指定順序一一列出。
# in sequence，是從sequence的內容，按照元素一一列出。
for i, t in enumerate(c2):
  if t > 100:
     hot_city.append(city[i])
     
# 等同於上面寫法
# for index in range(len(c2)):
#   if c2[index] > 100:
#     hot_city.append(city[index])


# 以下勿改
for hc in hot_city:
  print(hc)

24 44 32 33 41
taipei taichung pingdong tainan hsinchu
taichung
hsinchu

## 4.3 OJ 及格的學生
names 為學生姓名的 list，eng, math, phy 為相對應的三科成績。

請印出平均 >= 60 的學生姓名。（順序依據在 names 上的順序)


```
輸入範例 
john nick albert jie
12, 34, 45, 65
32, 54, 65, 77
45, 67, 100, 99

輸出範例 
albert jie
--
輸入測資
mary joe evo robert
25,17,40,45
28,50,70,87
90,60,95,40

輸出測資
evo
```

In [ ]:
names = input().split()
eng = eval(input())
math = eval(input())
phy = eval(input())
# 以上勿改

# Write your code
g_pass = []
for i, name in enumerate(names):
 av = (eng[i] + math[i] + phy[i])/3
 if (av >= 60):
   g_pass.append(names[i])

# 以下勿改， g_pass 是有通過的學生的 list
print (' '.join(g_pass))

mary joe evo robert
25,17,40,45
28,50,70,87
90,60,95,40
evo

## 4.4 OJ 高於平均的學生
names 為學生姓名的 list，eng, math, phy 為相對應的三科成績。

請印出每科都高於該科平均的學生姓名（順序依據在 names 上的順序)


```
輸入測資
Ada Bella Cheryl Darlene
12,34,45,65
32,54,65,77
45,67,100,99

輸出測資
Cheryl Darlene
--
輸入測資
Lynn Mandy Renee Zara
45,70,85,55
19,85,65,36
99,100,50,99

輸出測資
Mandy
```

In [ ]:
# names = input().split()
# eng = eval(input())
# math = eval(input())
# phy = eval(input())
# 以上勿改

# testing data
names = 'Ada Bella Cheryl Darlene'.split()
eng = eval('12,34,45,65')
math = eval('32,54,65,77')
phy = eval('45,67,100,99')

# Write your code
eng_av = sum(eng)/len(eng)
math_av = sum(math)/len(math)
phy_av = sum(phy)/len(phy)
# print(eng_av,math_av,phy_av)

g_good = []
for i, name in enumerate(names):
  higher_grade = (eng[i] >= eng_av and math[i] >= math_av and phy[i] >= phy_av)
  if (higher_grade):
    g_good.append(name)
   
# 以下勿改， g_good 是高於平均的姓名的 list
print (' '.join(g_good))

Cheryl Darlene

## 4.5 OJ 去掉重複的

一個字串裡面包含著重複的英文字母 (空白除外)，請印出這個字串出現的英文字母，並依字母由小到大排序。



```
輸入範例
ajldjlajfdljfddd

輸出範例
adfjl
--
輸入範例
fhdfhdfhdh

輸出範例
dfh
--
輸入測資
dghsdhsdh

輸出測資
dghs
--
輸入測資
zzzjzjjzjz

輸出測資
jz
```

In [ ]:
s  = input() # 此行勿改 
res = []  

b = list(s) 
print (b)
# sorted 排序之後，傳回一個排序好的新list。
# set不會包含重複的資料。
res = sorted(set(b)) 

for count in range(len(res)): 
 print(res[count],end='')

dcaaf
['d', 'c', 'a', 'a', 'f']
acdf

## 4.6 OJ 修課的學生

c1, c2, c3 紀錄三門課的修課學生，共10位 (s1, s2... s10)，每位學生都有各自選的課程，請印出有選 0、1、2、3 門課的學生（排序由小到大印出）。 

```
輸入範例
s1 s4 s7 s8
s5 s1 s3 s6
s7 s8 s9 s10

輸出範例
s2
s3 s4 s5 s6 s9 s10
s1 s7 s8
-
--
輸入範例
s2
s1 s2 s3 s4 s5 s6 s7 s8 s9
s5 s10

輸出範例
-
s1 s3 s4 s6 s7 s8 s9 s10
s2 s5
-
--
輸入測資
s2 s5 s8 s9
s10 s6 s4 s5
s2 s3 s4 s5

輸出測資
s1 s7
s3 s6 s8 s9 s10
s2 s4
s5
--
輸入測資
s1
s1 s2 s3 s4 s5 s6 s7 s8 s9 s10
s3

輸出測資
-
s2 s4 s5 s6 s7 s8 s9 s10
s1 s3
-
```

In [ ]:
# List版本解答
# c1 = input().split(' ')  # 此行勿改
# c2 = input().split(' ')  # 此行勿改
# c3 = input().split(' ')  # 此行勿改

# testing data
c1 = 's1 s4 s7 s8'.split(' ')
c2 = 's5 s1 s3 s6'.split(' ')
c3 = 's7 s8 s9 s10'.split(' ')

courses = []
courses.extend(c1)
courses.extend(c2)
courses.extend(c3)
print (courses)

students = ['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10']

t0 = [s for s in students if courses.count(s) == 0]
t1 = [s for s in students if courses.count(s) == 1]
t2 = [s for s in students if courses.count(s) == 2]
t3 = [s for s in students if courses.count(s) == 3]

print('-' if len(t0) == 0 else ' '.join(t0))
print('-' if len(t1) == 0 else ' '.join(t1))
print('-' if len(t2) == 0 else ' '.join(t2))
print('-' if len(t3) == 0 else ' '.join(t3))

['s1', 's4', 's7', 's8', 's5', 's1', 's3', 's6', 's7', 's8', 's9', 's10']
s2
s3 s4 s5 s6 s9 s10
s1 s7 s8
-

In [ ]:
# Dict版本解答
# c1 = input().split(' ')  # 此行勿改
# c2 = input().split(' ')  # 此行勿改
# c3 = input().split(' ')  # 此行勿改

# testing data
c1 = 's1 s4 s7 s8'.split(' ')
c2 = 's5 s1 s3 s6'.split(' ')
c3 = 's7 s8 s9 s10'.split(' ')

courses = []
courses.extend(c1)
courses.extend(c2)
courses.extend(c3)

take_course = {"s1":0,"s2":0,"s3":0,"s4":0,"s5":0,"s6":0,"s7":0,"s8":0,"s9":0,"s10":0}

t0 = []
t1 = []
t2 = []
t3 = []

for st in courses:
  take_course[st] = take_course[st] + 1

for st, course_cnt in take_course.items():
  if(course_cnt==0): t0.append(st)
  if(course_cnt==1): t1.append(st)
  if(course_cnt==2): t2.append(st)
  if(course_cnt==3): t3.append(st)

print('-' if len(t0) == 0 else ' '.join(t0))
print('-' if len(t1) == 0 else ' '.join(t1))
print('-' if len(t2) == 0 else ' '.join(t2))
print('-' if len(t3) == 0 else ' '.join(t3))

s2
s3 s4 s5 s6 s9 s10
s1 s7 s8
-

## 4.7 OJ 誰的 BMI 最高

health 紀錄一群人的身高與體重，如 {"John": {"height": 171, "weight": 50}, "Nick": {"height": 175, "weight": 65}}。

請輸出 BMI 最高者的姓名。



```
輸入範例
{"John": {"height": 171, "weight": 50}, "Nick": {"height": 175, "weight": 65}}

輸出範例
Nick
--
輸入測資
{"Mary": {"height": 154, "weight": 40}, "Nicolas": {"height": 180, "weight": 85}, "Nei": {"height": 168, "weight": 55}, "Gold": {"height": 175, "weight": 75}}

輸出測資
Nicolas
```

In [ ]:
import json
# health = json.loads(input())
# 以上區塊勿改

# testing data
s = '{"Mary": {"height": 154, "weight": 40}, \
"Nicolas": {"height": 180, "weight": 85}, \
"Nei": {"height": 168, "weight": 55}, \
"Gold": {"height": 175, "weight": 75}}'

health = json.loads(s)
print (health)

high_bmi = 0

for name, h in health.items():
  bmi = h['weight']/(h['height']/100)**2
  print (name, bmi)
  if (bmi > high_bmi):
    high_bmi = bmi
    r = name

print (r)

{'Mary': {'height': 154, 'weight': 40}, 'Nicolas': {'height': 180, 'weight': 85}, 'Nei': {'height': 168, 'weight': 55}, 'Gold': {'height': 175, 'weight': 75}}
Mary 16.866250632484398
Nicolas 26.234567901234566
Nei 19.48696145124717
Gold 24.489795918367346
Nicolas

## 4.8 OJ 中英字典

myDic 是應用 dict 建立一個英翻中的字典，例如 myDic = {"dog":"狗", "cat":"貓"}。依據此字典產生另一個 中翻英 的字典。讀入字典及一個中文，輸出其英文。



```
輸入範例
{"dog":"狗", "cat":"貓"}
狗

輸出範例
dog
--
輸入測資
{"seagull":"海鷗", "pigeon":"鴿子", "crane":"鶴", "eagle":"老鷹", "sparrow":"麻雀"}
海鷗

輸出測資
seagull
--
輸入測資
{"seagull":"海鷗", "pigeon":"鴿子", "crane":"鶴", "eagle":"老鷹", "sparrow":"麻雀"}
鴿子

輸出測資
pigeon
```

In [ ]:
import json
# myDic = json.loads(input()) 
# find = input()      # 要查詢的中文字
# 以上區塊勿改

s = '{"seagull":"海鷗", \
"pigeon":"鴿子", "crane":"鶴", \
"eagle":"老鷹", "sparrow":"麻雀"}'

myDic = json.loads(s) 
find = '海鷗'         # 要查詢的中文字

# Write Your Code
for eng, ch in myDic.items():
 if(ch == find):
   print(eng)

seagull